# 服务器端口
PORT=3700

# POE API密钥列表
POE_API_KEYS='["your-poe-api-key-1", "your-poe-api-key-2"]'

# 自定义接口访问密钥列表
ACCESS_TOKENS='["your-access-token1", "your-access-token2"]'

# 代理设置（如不需要请留空）
PROXY=''

# 超时时间（秒）
TIMEOUT=120

# 机器人名称列表
BOT_NAMES='["GPT-4.1", "GPT-4o", "o3", "Grok-4","Claude-Sonnet-4-Reasoning", "Claude-Sonnet-4", "Gemini-2.5-Pro", "DeepSeek-R1", "Deepseek-v3"]'